#total{
	width:100%;
	heigth:100%;
	margin:5px;
	background-color:#DBDBDB;
}

#one{
	width:30%;
	height:80%;
	text-align:center;
	float:left;
}

#two{
	width:30%;
	height:80%;
	text-align:center;
	float:left;
}

#three{
	width:30%;
	height:80%;
	text-align:center;
	float:left;
}

div .work{
	margin:10px;
	border-style: solid;
  	border-width: 2px;
	background-color:#DBDBDB;
}